PORT=3000
DB_FILE=./denbook.sqlite
APP_URL=http://localhost:3000
NODE_ENV=development
SECURE_COOKIE=false
RECAPTCHA_SITE_KEY=6LcmH5ksAAAAAJQb7UktGrP_hFDCuFdoVKf2y_bj
RECAPTCHA_SECRET_KEY=6LcmH5ksAAAAANLOm08tEvYHp97N9O6zM_mNal5Z
